language: python
dist: jammy
python:
  - "3.9"

sudo: false

cache: pip

services:
    - postgresql

addons:
  postgresql: "13"
  apt:
    sources:
      - sourceline: deb http://apt.postgresql.org/pub/repos/apt/ jammy-pgdg main
          13
        key_url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    packages:
      - postgresql-13

before_install:
  # Copy custom configs from the repo because PG-13 isn't set up to run like
  # it normally does on Travis out of the box.
  # Source: https://github.com/NCI-GDC/psqlgraph/blob/94f315db2c039217752cba85d9c63988f2059317/.travis.yml
  - sudo cp travis/postgresql.conf /etc/postgresql/13/main/postgresql.conf
  - sudo cp travis/pg_hba.conf /etc/postgresql/13/main/pg_hba.conf
  - sudo pg_ctlcluster 13 main restart

install:
  - pip install --upgrade pip setuptools
  - pip install poetry
  - poetry install --all-extras -vv --no-interaction
  - poetry show -vv
  - psql -c 'SELECT version();' -U postgres
  - psql -U postgres -c "create database fence_test_tmp"
  - pip list

before_script:
  - sudo rm -f /etc/boto.cfg
  - mkdir -p tests/resources/keys; cd tests/resources/keys; openssl genrsa -out test_private_key.pem 2048; openssl rsa -in test_private_key.pem -pubout -out test_public_key.pem
  - openssl genrsa -out test_private_key_2.pem 2048; openssl rsa -in test_private_key_2.pem -pubout -out test_public_key_2.pem
  - cd -

script:
  - poetry run pytest -vv --cov=fence --cov=migrations/versions --cov-report xml tests

after_script:
  - python-codacy-coverage -r coverage.xml
  - COVERALLS_REPO_TOKEN=$COVERALLS_TOKEN coveralls
