language: python

python: 2.7

sudo: false

cache: pip

addons:
  postgresql: "9.4"

install:
  - pip uninstall -y six || true # travis installs wrong version
  - pip uninstall -y userdatamodel || true
  - pip install -r dev-requirements.txt
  - pip install -r requirements.txt
  - psql -c 'SELECT version();' -U postgres
  - python setup.py install
  - psql -U postgres -c "create database fence_test_tmp"
  - userdatamodel-init --db fence_test_tmp

before_script:
  - cp fence/local_settings.example.py fence/local_settings.py
  - mkdir -p tests/resources/keys; cd tests/resources/keys; openssl genrsa -out test_private_key.pem 2048; openssl rsa -in test_private_key.pem -pubout -out test_public_key.pem
  - openssl genrsa -out test_private_key_2.pem 2048; openssl rsa -in test_private_key_2.pem -pubout -out test_public_key_2.pem
  - cd -

script:
  - py.test -vv --cov=fence --cov-report xml tests

after_script:
  - python-codacy-coverage -r coverage.xml
