language: python
dist: jammy
python:
  - "3.9"

sudo: false

cache: pip

services:
    - postgresql

addons:
  postgresql: "13"
  apt:
    sources:
      - sourceline: deb http://apt.postgresql.org/pub/repos/apt/ jammy-pgdg main
          13
        key_url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    packages:
      - postgresql-13
install:
  - pip install --upgrade pip
  - pip install poetry
  - poetry install --all-extras -vv --no-interaction
  - poetry show -vv
  - psql -c 'SELECT version();' -U postgres
  - psql -U postgres -c "create database fence_test_tmp"
  - pip list

before_script:
  - sudo rm -f /etc/boto.cfg
  - mkdir -p tests/resources/keys; cd tests/resources/keys; openssl genrsa -out test_private_key.pem 2048; openssl rsa -in test_private_key.pem -pubout -out test_public_key.pem
  - openssl genrsa -out test_private_key_2.pem 2048; openssl rsa -in test_private_key_2.pem -pubout -out test_public_key_2.pem
  - cd -

script:
  - poetry run pytest -vv --cov=fence --cov=migrations/versions --cov-report xml tests

after_script:
  - python-codacy-coverage -r coverage.xml
  - COVERALLS_REPO_TOKEN=$COVERALLS_TOKEN coveralls
