[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cirrus = {editable = true,git = "https://github.com/uc-cdis/cirrus.git",ref = "feat/delete-google-file"}
gen3cirrus = {editable = true,git = "https://github.com/uc-cdis/cirrus.git",ref = "feat/delete-google-file"}

[requires]
python_version = "3.8"
