[tool.poetry]
name = "fence"
version = "5.5.0"
description = "Gen3 AuthN/AuthZ OIDC Service"
authors = ["CTDS UChicago <cdis@uchicago.edu>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/uc-cdis/fence"
include = [
  "NOTICE",
]

[tool.poetry.dependencies]
python = "^3.6"
authlib = "^0.11"
authutils = "^6.0.2"
bcrypt = "^3.1.4"
boto3 = "~1.9.91"
botocore = "^1.12.253"
cached_property = "^1.5.1"
cdiserrors = "<2.0.0"
cdislogging = "^1.0.0"
cdispyutils = "^1.0.5"
cryptography = "==2.8"
flask = "^1.1.1"
flask-cors = "^3.0.3"
flask-restful = "^0.3.6"
flask_sqlalchemy_session = "^1.1"
email_validator = "^1.1.1"
gen3authz = "^1.1.0"
gen3cirrus = "^2.0.0"
gen3config = "^0.1.7"
gen3users = "^0.6.0"
idna = "^2.10" # https://github.com/python-poetry/poetry/issues/3555
markdown = "^3.1.1"
paramiko = "^2.6.0"
prometheus-client = "^0.9.0"
prometheus-flask-exporter = "^0.18.1"
pyjwt = "^1.5.3"
python_dateutil = "^2.6.1"
python-jose = "^2.0.2"
pyyaml = "^5.1"
requests = "^2.18.0"
retry = "^0.9.2"
storageclient = {git = "https://github.com/uc-cdis/storage-client", rev = "1.0.2"}
werkzeug = "^1.0.0"
cachelib = "^0.2.0"
azure-storage-blob = "^12.6.0"
Flask-WTF = "^0.14.3"
pg8000 = "1.16.5"
python-dotenv = "^0.19.1"
SQLAlchemy-Utils = "^0.37.9"
datamodelutils = "^1.0.0"
SQLAlchemy = "1.3.3"

[tool.poetry.dev-dependencies]
addict = "^2.2.1"
cdisutilstest = {git = "https://github.com/uc-cdis/cdisutils-test", rev = "1.0.0"}
codacy-coverage = "^1.3.11"
coveralls = "^2.1.1"
mock = "^2.0.0"
moto = "^1.1.24"
pytest = "^3.2.3"
pytest-cov = "^2.5.1"
pytest-flask = "^0.15.0"

[tool.poetry.scripts]
fence-create = 'bin.fence_create:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
