[tool.poetry]
name = "fence"
version = "7.0.0"
description = "Gen3 AuthN/AuthZ OIDC Service"
authors = ["CTDS UChicago <cdis@uchicago.edu>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/uc-cdis/fence"
include = [
  "NOTICE",
]

[tool.poetry.dependencies]
python = ">=3.9, <4.0"
alembic = ">=1.7.7"
authlib = ">=0.11"
authutils = ">=6.2.1"
azure-core = ">=1.25.1"
azure-storage-blob = ">=12.13.1"
bcrypt = ">=3.1.4"
boto3 = ">=1.9.91"
botocore = ">=1.12.253"
cached_property = ">=1.5.1"
cdiserrors = ">=1.0.0"
cdislogging = ">=1.0.0"
cdispyutils = ">=2.0.1"
cryptography = ">=3.2"
flask = ">=1.1.1"
flask_sqlalchemy_session = ">=1.1"
email_validator = ">=1.1.1"
gen3authz = ">=1.5.1"
gen3config = ">=1.0.0"
gen3users = ">=0.6.0"
markdown = ">=3.1.1"
paramiko = ">=2.6.0"
prometheus-client = ">=0.14.1"
prometheus-flask-exporter = ">=0.20.3"
psycopg2 = ">=2.9.3" #imported during tests
requests = ">=2.18.0"
retry = ">=0.9.2"
sqlalchemy = ">=1.3.3"
storageclient = {git = "https://github.com/uc-cdis/storage-client", rev = "1.0.2"}
userdatamodel = ">=2.4.0"
werkzeug = ">=2.0.3"
cachelib = ">=0.2.0"
Flask-WTF = ">=1.0.1"
Flask-Cors = ">=3.0.10"
Flask-RESTful = ">=0.3.9"


[tool.poetry.dev-dependencies]
addict = "^2.2.1"
cdisutilstest = {git = "https://github.com/uc-cdis/cdisutils-test", rev = "1.0.0"}
codacy-coverage = "^1.3.11"
coveralls = "^2.1.1"
mock = "^2.0.0"
moto = "^1.1.24"
pytest = "^3.2.3"
pytest-cov = "^2.5.1"
pytest-flask = "^0.15.0"

[tool.poetry.scripts]
fence-create = 'bin.fence_create:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
